﻿!!!
%html
	%head
		%title Bootstrap 101 Template
		%meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
		%link{href: "/css/bootstrap.min.css", rel: "stylesheet"}

	%body
		%h1 Hello, world!

		%script{src: "https://code.jquery.com/jquery.js"}
		%script{src: "js/bootstrap.min.js"}
  
		%form{role: "form"}
			%div{class: "form-group"}
				%label{for: "exampleInputEmail1"}
					Email address
				%input{type: "email", class: "form-control", id: "exampleInputEmail1", placeholder: "Enter email"}
  
			%div{class: "form-group"}
				%label{for: "exampleInputPassword1"}
					Password
				%input{type: "password", class: "form-control", id: "exampleInputPassword1", placeholder: "Password"}
  
			%div{class: "form-group"}
				%label{for: "exampleInputFile"}
					File input
				%input{type: "file", id: "exampleInputFile"}
				%p{class: "help-block"}
					Example block-level help text here
  
			%div{class: "checkbox"}
				%label
				%input{type: "checkbox"}
					Check me out
    
			%button{type: "submit", class: "btn btn-default"}
				Submit

